

body {
        font-family: Arial, sans-serif;
        text-align: center;
            background-color: #f9f9f9;
margin: 0;
}

header {
     background: #02640D;
    color: white;
        padding: 15px;
}

nav ul {
        list-style: none;
padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#sell-textbooks {
    margin: 40px auto;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
      width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}

#offer-container {
    margin-top: 20px;
    padding: 20px;
background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 30px; 
    margin: 40px auto;
    max-width: 1100px;
    position: relative;
}

#textbook-name-input {
    width: 75%; 
    height: 40px;
    padding: 5px 10px; 
    font-size: 16px; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5px 0 0 5px; 
}

#search-btn {
    width: 75%; 
    height: 40px; 
    border: none;
    border-radius: 0 5px 5px 0; 
    background-color: #02640D; 
    color: white; 
    cursor: pointer; 
}

#search-box {
    width: 500px; 
    text-align: center;
    background: white;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto; 
    position: relative;
    left: 150px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


#filter-box {
    width: 200px;
    text-align: center;
    background: white;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto; 
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


#filter-box {
    margin-bottom: 30px;
}


#filter-box select,
#filter-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}


input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    box-sizing: border-box; 
}


button.search-btn {
    width: 100%; 
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.search-btn:hover {
    background-color: #0056b3;
}

.bottom-footer {
    position: fixed; 
    bottom: 0;       
    left: 0;      
    width: 100%;     
    background-color: #02640D; 
    color: white;   
    text-align: center; 
    padding: 10px 0; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); 
    z-index: 9999;  
}
